<form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
  <div class="form-group w-full max-w-md px-2">
    <label for="login-name" class="label">
      <span class="label-text">Username</span>
    </label>
    <input
      type="text"
      class="form-control input input-bordered input-accent w-full max-w-md text-lg"
      id="login-name"
      name="name"
      placeholder="Username..."
      ngModel
    />
  </div>
  <div class="form-group w-full max-w-md px-2">
    <label for="paste-content" class="label"
      ><span class="label-text">Password</span>
    </label>
    <input
      class="form-control input input-accent w-full max-w-md text-lg"
      id="paste-content"
      type="password"
      name="password"
      placeholder="password..."
      ngModel
    />
  </div>
  <button type="submit" class="btn btn-accent mt-2">Login</button>

  <h1 class="text-red-700">{{ alert }}</h1>
</form>
