<form
  class="w-96"
  #pasteForm="ngForm"
  (ngSubmit)="onPasteCreate(pasteForm.value)"
>
  <h1 class="text-2xl text-center">Create new paste</h1>

  <div class="tw-form-group w-full justify-content-center px-2">
    <label for="paste-title" class="tw-label">
      <span class="label-text">Title</span>
    </label>
    <input
      type="text"
      class="form-control tw-input tw-input-bordered tw-input-accent w-full max-w-md text-lg"
      id="paste-title"
      name="title"
      placeholder="Paste Title"
      ngModel
    />
  </div>
  <div class="tw-form-group w-full w-lg px-2">
    <label for="paste-content" class="tw-label"
      ><span class="label-text">Content</span>
    </label>
    <md-editor
      [ngModelOptions]="{ standalone: true }"
      id="paste-content"
      name="content"
      [(ngModel)]="content"
      [hideToolbar]="true"
      height="500px"
      [options]="{ showPreviewPanel: false }"
      maxlength="10000"
    ></md-editor>
  </div>
  <div class="text-center justify-items-center">
    <button type="submit" class="tw-btn tw-btn-accent mt-2">Submit</button>
  </div>
</form>
